body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://cdn.pixabay.com/photo/2012/10/26/02/39/international-space-station-63128_960_720.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #FFD700;
}

h2 {
    color: #FFD700;
}

.date-time, .weather, .ISSPosition, .goLook {
    margin: 20px 0;
}

button {
    background-color: #FFD700;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFA500;
}